.numberOfPage{
    margin: 10px;
    color: rgb(65, 64, 64)
}
.buttonNext{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.buttonPrev{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
